.page-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: solid 1px #DCDCDC ;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    padding: 1.6rem 0;
}

.page-header .top-bar-container>img{
    height: 8rem;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user>p{
    margin-left: 1.6rem;
}
